.env
.env.*
!.env.example

/vendor
/node_modules
/auth.json
/.phpunit.result.cache
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/storage/pail
/bootstrap/cache/*.php

*.sqlite
*.db

.idea
.vscode

artifacts/tmp/
artifacts/scans/
